@use 'variables' as v;

html {
    font-size: 62.5%;
    box-sizing: border-box;
    height: 100%;
}
body {
    font-family: v.$main_font;
    font-size: 1.6rem;
    font-style: normal;
    background-color: v.$white;
    margin: 0;
    &.darkmode {
        background-color: v.$black-color;
        h1, h2, h3 {
            color: v.$green;
        }
        p {
            color: v.$white;
        }
    }
}
*, *:before, *:after {
    box-sizing: inherit;
}
.contenedor {
    width: 95%;
    max-width: 130rem;
    margin: 0 auto;
}
a {
    text-decoration: none;
}
h1, h2, h3 {
    margin: 2rem 0;
    font-weight: 900;
    color: v.$black-color;
}
h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.8rem;
}
h3 {
    font-size: 1.6rem;
    text-align: center;
}
p {
    color: v.$black-color;
}
img {
    max-width: 100%;
    width: 100%;
    height: auto;
    display: block;
}
.cont-center {
    display: flex;
    justify-content: center;
}