// Font
$main_font: "Montserrat", sans-serif;

// Media Query Sizes
$phone: 480px;
$tablet: 768px;
$desktop: 1024px;

// Computer Science ColorMagic Colors
$darknavyblue: #191d4d;
$navyblue: #505086;
$indigo:#8787b5;
$grey: #d6d6e0;
$clearindigo: #b0b0c9;
$green: #00ff00;
$purple: #6A4CE6;

// Basic Colors
$black-color: #000000;
$white: #FFFFFF;

$spacing: 5rem;

// Weights
$thin: 300;
$regular: 400;
$bold: 700;
$black: 900;