@use 'base/variables' as v;
@use 'base/mixins' as m;

.alerta {
    padding: auto;
    color: v.$white;
    width: 100%;
    display: block;
    margin-bottom: 1rem;
    text-align: center;
    font-weight: v.$bold;
    text-transform: uppercase;
    &.error {
        background-color: red;
    }
    &.exito {
        background-color: #2D9502;
    }
}